<div class="tabla-container">
    <h2 class="title">Lista de Usuarios</h2>

    <table class="tabla-usuarios">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let u of listaUsuarios" [routerLink]="['/detalle',u.id]">
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.phone }}</td>
            </tr>
        </tbody>
    </table>

</div>