<div class="table-container">
    <h2 class="title">Terminal de usuarios</h2>


    <div class="panel-filtros">

        <input type="text" [ngModel]="nombreBusqueda()" (ngModelChange)="
         nombreBusqueda.set($event)" placeholder="Filtrar por nombre..." class="input">

        <select [ngModel]="ciudadBusqueda()" (ngModelChange)="ciudadBusqueda.set($event)" class="select">
            <option value="">Todas las ciudades</option>
            <option *ngFor="let u of usuariosOriginales()" [value]="u.address?.city">
                {{ u.address?.city }}
            </option>
        </select>

        <button (click)="limpiarFiltros()" class="btn">Limpiar Filtros</button>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of usuariosFiltrados()" [routerLink]="['/detalle' , u.id]">
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.email}}</td>
                <td>{{ u.phone}}</td>
            </tr>




        </tbody>
    </table>

</div>